@import '../utils/colours';
.admin-table {
  &__heading {
    margin-bottom: 1rem;
  }
  &__cell {
    &--heading {
      font-weight: bold;
    }
  }
  &__table-row {
    &--attending {
      &-yes {
        background-color: $even-lighter-green;
      }
      &-no {
        background-color: $light-pink;
      }

      &-maybe {
        background-color: $light-yellow;
      }
    }
  }
}

.admin-button-container {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .admin-table__button {
    margin-top: 2rem;
  }
}
