@import '../utils/colours';
.admin-table {
  &__button {
    align-self: flex-start;
    margin-left: 1rem;
  }
  &__table-row {
    &--attending {
      &-yes {
        background-color: $lighter-green;
      }
      &-no {
        background-color: $light-pink;
      }

      &-maybe {
        background-color: $light-yellow;
      }
    }
  }
}
