@import '../utils/colours';
.admin-table {
  &__table-row {
    &--attending {
      &-yes {
        background-color: $even-lighter-green;
      }
      &-no {
        background-color: $light-pink;
      }

      &-maybe {
        background-color: $light-yellow;
      }
    }
  }
}

.admin-button-container {
  padding-bottom: 1rem;

  .admin-table__button {
    align-self: flex-start;
    margin-left: 1rem;
  }
}
