@import '../utils/colours';
@import '../utils/utils';

.modal-content-container {
  .booking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      color: $purple;
      margin-bottom: 2rem;
    }

    &__para {
      text-align: center;

      &--green {
        color: $light-green;
      }

      &--warning-text {
        color: red;
      }
    }

    &__input {
      width: 16rem;
      margin-bottom: 2rem;
    }

    &__submit-btn {
      margin-top: 2rem;
    }

    #email {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 600;
      letter-spacing: 0.7px;
    }
  }

  @include respond(tablet) {
    .booking-form {
      &__input {
        width: 25rem;
      }
    }
  }
}
