@import '../utils/colours';
@import '../utils/utils';

.modal-content-container {
  .info {
    &__heading {
      color: $purple;
      margin-bottom: 2rem;
      font-size: 2.7rem;
      text-align: center;
    }

    &__para {
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 0.7rem;

      &--green {
        color: $light-green;
      }

      &--purple {
        color: $purple;
      }

      &--dark-green {
        color: $dark-green;
      }

      &--black {
        color: $black;
      }

      &--large {
        font-size: 1.7rem;
        margin-bottom: 2rem;
      }

      &--margin-top {
        margin-top: 2rem;
      }

      &--no-margin {
        margin: 0;
      }
    }

    &__image {
      margin-bottom: 1rem;
      border-radius: 5px;
    }

    &__button {
      margin-top: 2rem;
    }
  }
}
