@import '../utils/colours';
@import '../utils/utils';

.modal-content-container {
  .rsvp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      color: $purple;
      margin-bottom: 2rem;
    }

    &__input {
      width: 250px;
      margin-bottom: 2rem;
    }

    &__submit-btn {
      margin-top: 2rem;
    }

    #email {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 600;
      letter-spacing: 0.7px;
    }
  }
}
