@import '../utils/colours';

.success-rsvp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    color: $light-green;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__list {
    list-style: none;
    margin-bottom: 1rem;
  }

  &__list-item {
    color: $purple;
    text-align: center;
    margin-bottom: 0.1rem;
  }

  &__paragraph {
    color: $dark-green;
    text-align: center;
    margin-bottom: 2rem;

    &--helvetica-font {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 600;
      letter-spacing: 0.7px;
      color: $purple;
    }

    &--black {
      color: $black;
    }
  }
}
