@import '../utils/utils';

.titleSign {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 0;
    &--tablet-up {
      display: none;
    }
  }

  &__image {
    max-width: 100vw;
  }

  &__bottom {
    position: relative;
    margin-top: -5px;
    z-index: -2;
    height: calc(100vh - 16vh );
  }
}

@include respond(tablet) {
  .titleSign {
    &__title {
      &--mobile {
        display: none;
      }

      &--tablet-up {
        display: flex;
      }
    }
  }
}
